<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Tarot Card Generator</title>
    <link rel="stylesheet" th:href="@{css/tarot.css}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    </style>
</head>
<body>
<div id="tarot-container"></div>
<button id="generate-btn">Generate Tarot Card</button>

<script th:src="@{js/script.js}"></script>
</body>
</html>



